<table border=1>
<tr>
<th> ID</th>
<th> Name</th>
<th>Email </th>
<th># Books </th>
<th> Picture</th>


</tr>
<tr>
<td>
 {{id}}
</td>
<td>
{{nom}}
</td>
<td>
 {{email}}
</td>
<td>
{{nbliv}}
</td>
<td>
<img src="{{image}}"
alt=""
width=100>
</td>
</tr>
</table>