{% extends 'base.html.twig' %}

{% block title %}Entreprise index
{% endblock %}

{% block body %}
	<h1>Entreprise index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>IdEntreprise</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Pdp</th>
				<th>Num</th>
				<th>Mail</th>
				<th>Mdp1</th>
				<th>Role</th>
				<th>Adresse</th>
				<th>Genre</th>
				<th>Logo</th>
				<th>NomEntreprise</th>
				<th>Secteur</th>
				<th>Description</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for entreprise in entreprises %}
				<tr>
					<td>{{ entreprise.idEntreprise }}</td>
					<td>{{ entreprise.nom }}</td>
					<td>{{ entreprise.prenom }}</td>
					<td>{{ entreprise.pdp }}</td>
					<td>{{ entreprise.num }}</td>
					<td>{{ entreprise.mail }}</td>
					<td>{{ entreprise.mdp1 }}</td>
					<td>{{ entreprise.role }}</td>
					<td>{{ entreprise.adresse }}</td>
					<td>{{ entreprise.genre }}</td>
					<td>{{ entreprise.logo }}</td>
					<td>{{ entreprise.nomEntreprise }}</td>
					<td>{{ entreprise.secteur }}</td>
					<td>{{ entreprise.description }}</td>
					<td>
						<button class="btn">
							<a href="{{ path('app_entreprise_show', {'idEntreprise': entreprise.idEntreprise}) }}">show</a>
						</button>
						<button class="btn">
							<a href="{{ path('app_entreprise_edit', {'idEntreprise': entreprise.idEntreprise}) }}">edit</a>
						</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="15">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<button class="btn">
		<a href="{{ path('app_entreprise_new') }}">Create new</a>
		<button class="btn">
		{% endblock %}
