{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdEvenement</th>
                <td>{{ evenement.idEvenement }}</td>
            </tr>
            <tr>
                <th>IdEntreprise</th>
                <td>{{ evenement.idEntreprise }}</td>
            </tr>
            <tr>
                <th>IdParticipant</th>
                <td>{{ evenement.idParticipant }}</td>
            </tr>
            <tr>
                <th>TitreEvenement</th>
                <td>{{ evenement.titreEvenement }}</td>
            </tr>
            <tr>
                <th>DateEvenement</th>
                <td>{{ evenement.dateEvenement ? evenement.dateEvenement|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Qrcode</th>
                <td>{{ evenement.qrcode }}</td>
            </tr>
            <tr>
                <th>ImageEvenement</th>
                <td>{{ evenement.imageEvenement }}</td>
            </tr>
            <tr>
                <th>LieuEvenement</th>
                <td>{{ evenement.lieuEvenement }}</td>
            </tr>
            <tr>
                <th>DescriptionEvenement</th>
                <td>{{ evenement.descriptionEvenement }}</td>
            </tr>
            <tr>
                <th>Liste_participants</th>
                <td>{{ evenement.listeParticipants }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evenement_index') }}">back to list</a>

    <a href="{{ path('app_evenement_edit', {'idEvenement': evenement.idEvenement}) }}">edit</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
