{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<h1>User index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Photo de profile</th>
				<th>Num</th>
				<th>Mail</th>
				<th>Mdp1</th>
				<th>Role</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.nom }}</td>
					<td>{{ user.prenom }}</td>
					<td>{{ user.pdp }}</td>
					<td>{{ user.num }}</td>
					<td>{{ user.mail }}</td>
					<td>{{ user.mdp1 }}</td>
					<td>{{ user.role }}</td>
					<td>
						<a href="{{ path('app_user_delete', {'idUser': user.idUser}) }}">supprimer</a>

						<a href="{{ path('app_user_show', {'idUser': user.idUser}) }}">details</a>
						<a href="{{ path('app_user_edit', {'idUser': user.idUser}) }}">editer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="12">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<button class="btn">
		<a href="{{ path('app_user_new') }}">Create new</a>
	</button>
{% endblock %}
