<!DOCTYPE HTML>


<html>
	<head>
		<title>
			{% block title %}
				bienvenue - admin
			{% endblock %}
		</title>
		<meta charset="utf-8"><meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"><meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="{{ asset('assets/css/base.css') }}" type="text/css" rel="stylesheet">
	</head>
	<divclass="video-bg">
		<videowidth="320"height="240"autoplayloopmuted>
			<sourcesrc="https://assets.codepen.io/3364143/7btrrd.mp4"type="video/mp4">Yourbrowserdoesnotsupportthevideotag.</video>
		</div>
		<div class="dark-light">
			<svgviewbox="002424"stroke="currentColor"stroke-width="1.5"fill="none"stroke-linecap="round"stroke-linejoin="round"><pathd="M2112.79A9901111.213770002112.79z"/></svg>
		</div>
		<divclass="app">
			<divclass="header">
				<divclass="menu-circle"></div>
				<divclass="header-menu">
					<a class="menu-linkis-active" href="{{path('app_user_index')}}">Acceuil</a>
					<aclass="menu-link"href="#">Decouvrir</a>
					<aclass="menu-linknotify"href="{{path('app_user_contact')}}">noscontact</a>
				</div>
				<divclass="search-bar">
					<inputtype="text"placeholder="Search"></div>
					<divclass="header-profile">
						<divclass="notification"style="margin-right:15px;">
							<spanclass="notification-number">3</span>
							<svgviewbox="002424"fill="currentColor"stroke="currentColor"stroke-width="2"stroke-linecap="round"stroke-linejoin="round"class="featherfeather-bell"><pathd="M188A6600068c07-39-39h18s-3-2-3-9M13.7321a22001-3.460"/></svg>
						</div>
						<div>
							<ahref="{{path('app_panier_index')}}">
								<svgxmlns="http://www.w3.org/2000/svg"height="1em"viewbox="00576512"fill="white"><pathd="M024C010.710.70240H69.5c22041.512.850.632h411c26.3045.52538.650.4l-41152.3c-8.531.4-3753.3-69.553.3H170.7l5.428.5c2.211.312.119.523.619.5H488c13.302410.72424s-10.724-2424H199.7c-34.60-64.3-24.6-70.7-58.5L77.454.5c-.7-3.8-4-6.5-7.9-6.5H24C10.748037.3024zM128464a48480119604848011-960zm336-48a484801109648480110-96z"/></svg>
							</a>
						</div>
						<imgclass="profile-img"src="https://images.unsplash.com/photo-1600353068440-6361ef3a86e8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"alt=""></div>
					</div>
					<divclass="wrapper">
						<divclass="left-side">
							<divclass="side-wrapper">
								<divclass="side-title">AcceuilInitiale</div>
								<divclass="side-menu">
									<a href="{{path('gender_statistics')}}">
										<a href="{{path('post_comment_statistics')}}">>>
											{% block vid%}{% endblock %}
											{% endblock%}
											{% block sidebar %}
											<a class="menu-link is-active" href="#">Acceuil</a>
											<a class="menu-link notify" href="#">Your work</a>
											<a class="menu-link" href="#">Discover</a>
											<a class="menu-link notify" href="#">Market</a>
										</html>
									</div>
									<div class="search-bar">
										<input type="text" placeholder="Search"></div>
									<div class="header-profile">
										<div class="notification">
											<span class="notification-number">3</span>
											<svg viewbox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
												<path d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9M13.73 21a2 2 0 01-3.46 0"/>
											</svg>
										</div>
										<svg viewbox="0 0 512 512" fill="currentColor">
											<path d="M448.773 235.551A135.893 135.893 0 00451 211c0-74.443-60.557-135-135-135-47.52 0-91.567 25.313-115.766 65.537-32.666-10.59-66.182-6.049-93.794 12.979-27.612 19.013-44.092 49.116-45.425 82.031C24.716 253.788 0 290.497 0 331c0 7.031 1.703 13.887 3.006 20.537l.015.015C12.719 400.492 56.034 436 106 436h300c57.891 0 106-47.109 106-105 0-40.942-25.053-77.798-63.227-95.449z"/>
										</svg>
										<img class="profile-img" src="https://images.unsplash.com/photo-1600353068440-6361ef3a86e8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt=""></div>
								</div>
								{% block sidebar %}
									<div class="wrapper">
										<div class="left-side">
											<div class="side-wrapper">
												<div class="side-title">Acceuil Initiale</div>
												<div class="side-menu">
													<a href="#">
														<svg viewbox="0 0 512 512">
															<g xmlns="http://www.w3.org/2000/svg" fill="currentColor">
																<path d="M0 0h128v128H0zm0 0M192 0h128v128H192zm0 0M384 0h128v128H384zm0 0M0 192h128v128H0zm0 0" data-original="#bfc9d1"/>
															</g>
															<path xmlns="http://www.w3.org/2000/svg" d="M192 192h128v128H192zm0 0" fill="currentColor" data-original="#82b1ff"/>
															<path xmlns="http://www.w3.org/2000/svg" d="M384 192h128v128H384zm0 0M0 384h128v128H0zm0 0M192 384h128v128H192zm0 0M384 384h128v128H384zm0 0" fill="currentColor" data-original="#bfc9d1"/>
														</svg>
														Statistique des genres
													</a>
													<a href="{{path('role_counts')}}">
														<svgviewbox="00512512">
															<gxmlns="http://www.w3.org/2000/svg"fill="currentColor"><pathd="M00h128v128H0zm00M1920h128v128H192zm00M3840h128v128H384zm00M0192h128v128H0zm00"data-original="#bfc9d1"/></g><pathxmlns="http://www.w3.org/2000/svg"d="M192192h128v128H192zm00"fill="currentColor"data-original="#82b1ff"/><pathxmlns="http://www.w3.org/2000/svg"d="M384192h128v128H384zm00M0384h128v128H0zm00M192384h128v128H192zm00M384384h128v128H384zm00"fill="currentColor"data-original="#bfc9d1"/></svg>Statistiquedesroles</a>
													<a href="#">
														<svg viewbox="0 0 488.932 488.932" fill="currentColor">
															<path d="M243.158 61.361v-57.6c0-3.2 4-4.9 6.7-2.9l118.4 87c2 1.5 2 4.4 0 5.9l-118.4 87c-2.7 2-6.7.2-6.7-2.9v-57.5c-87.8 1.4-158.1 76-152.1 165.4 5.1 76.8 67.7 139.1 144.5 144 81.4 5.2 150.6-53 163-129.9 2.3-14.3 14.7-24.7 29.2-24.7 17.9 0 31.8 15.9 29 33.5-17.4 109.7-118.5 192-235.7 178.9-98-11-176.7-89.4-187.8-187.4-14.7-128.2 84.9-237.4 209.9-238.8z"/>
														</svg>
														acceuil
														<span class="notification-number updates">3</span>
													</a>
												</div>
											</div>
											<div class="side-wrapper">
												<div class="side-title">les services</div>
												<div class="side-menu">
													<ahref="#">
														<svgviewbox="00512512"fill="currentColor"><pathd="M497151H316c-8.4010-156.599-1515v300c08.4016.599151515h181c8.401015-6.59915-15V166c0-8.401-6.599-15-15-15zm-76270h-30c-8.4010-15-6.599-15-15s6.599-1515-15h30c8.4010156.5991515s-6.59915-1515zm0-180h-30c-8.4010-15-6.599-15-15s6.599-1515-15h30c8.4010156.5991515s-6.59915-1515z"/><pathd="M15331h196v60h-75c-8.2910-156.709-1515s6.709151515h135v-30h-30v-60h30V166c0-24.81420.186-4545-45h135V46c0-8.284-6.716-15-15-15H15C6.71631037.716046v270c08.2846.716151515z"/></svg>gestionutilisateur</a>

													<a href="#">
														<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewbox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 2H4c-1 0-2.9-2 2v3.01c0 .72.43 1.34 1 1.69V20c0 1.1 1.1 2 2 2h14c.9 0 2-.9 2-2V8.7c.57-.35 1-.97 1-1.69V4c0-1.1-1-2-2-2zm-5 12H9v-2h6v2zm5-7H4V4l16-.02V7z"/></svg>
														Gestion commande
													</a>
													<a href="#">
														<svg viewbox="0 0 512 512" fill="currentColor">
															<circle cx="295.099" cy="327.254" r="110.96" transform="rotate(-45 295.062 327.332)"/>
															<path d="M471.854 338.281V163.146H296.72v41.169a123.1 123.1 0 01121.339 122.939c0 3.717-.176 7.393-.5 11.027zM172.14 327.254a123.16 123.16 0 01100.59-120.915L195.082 73.786 40.146 338.281H172.64c-.325-3.634-.5-7.31-.5-11.027z"/>
														</svg>
														Gestion produit
													</a>
													<a href="#">
														<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewbox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0z" fill="none"/><path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2
																																																																																																																																																																																																											                                14h-3v3h-2v-3H8v-2h3v-3h2v3h3v2zm-3-7V3.5L18.5 9H13z"/></svg>
														Gestion reclamation
													</a>
													<a href="#">
														<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewbox="0 0 24 24" width="24px" fill="currentColor">
															<path d="M0 0h24v24H0z" fill="none"/>
															<path d="M16.53 11.06L15.47 10l-4.88 4.88-2.12-2.12-1.06 1.06L10.59 17l5.94-5.94zM19
																																																																															3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11z"/></svg>
														Gestion evenment
													</a>
													<a href="#">
														<svg viewbox="0 0 512 512" fill="currentColor">
															<path d="M497 151H316c-8.401 0-15 6.599-15 15v300c0 8.401 6.599 15 15 15h181c8.401 0 15-6.599 15-15V166c0-8.401-6.599-15-15-15zm-76 270h-30c-8.401 0-15-6.599-15-15s6.599-15 15-15h30c8.401 0 15 6.599 15 15s-6.599 15-15 15zm0-180h-30c-8.401 0-15-6.599-15-15s6.599-15 15-15h30c8.401 0 15 6.599 15 15s-6.599 15-15 15z"/>
															<path d="M15 331h196v60h-75c-8.291 0-15 6.709-15 15s6.709 15 15 15h135v-30h-30v-60h30V166c0-24.814 20.186-45 45-45h135V46c0-8.284-6.716-15-15-15H15C6.716 31 0 37.716 0 46v270c0 8.284 6.716 15 15 15z"/>
														</svg>
														gestion utilisateur
													</a>
													<a href="#">
														<svg viewbox="0 0 512 512" fill="currentColor">
															<path d="M0 331v112.295a14.996 14.996 0 007.559 13.023L106 512V391L0 331zM136 391v121l105-60V331zM271 331v121l105 60V391zM406 391v121l98.441-55.682A14.995 14.995 0 00512 443.296V331l-106 60zM391 241l-115.754 57.876L391 365.026l116.754-66.15zM262.709 1.583a15.006 15.006 0 00-13.418 0L140.246 57.876 256 124.026l115.754-66.151L262.709 1.583zM136 90v124.955l105 52.5V150zM121 241L4.246 298.876 121 365.026l115.754-66.15zM271 150v117.455l105-52.5V90z"/>
														</svg>
														Gestion investissments
													</a>
													<a href="{{ path('app_post_index') }}">
														<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewbox="0 0 24 24" width="24px" fill="currentColor">
															<path d="M0 0h24v24H0z" fill="none"/>
															<path d="M2 6H0v5h.01L0 20c0 1.1.9 2 2 2h18v-2H2V6zm20-2h-8l-2-2H6c-1.1 0-1.99.9-1.99 2L4 16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM7 15l4.5-6 3.5 4.51 2.5-3.01L21 15H7z"/>
														</svg>
														Greener media
													</a>
												</div>
											</div>


										</div>
									{% endblock %}
									{% block  crud %}
										<div class="main-container">
											<div class="main-header">
												<a class="menu-link-main" href="#">Acceuil admin</a>
												<div class="header-menu">
													<a class="main-header-link" href="{{path('app_post_new')}}">Ajouter</a>
													<a class="main-header-link" href="{{path('app_post_index')}}">Afficher</a>
													<a class="main-header-link" href="{{path('app_commentaires_index')}}">Commentaires</a>
													<a class="main-header-link" href="{{path('app_search')}}">Rechercher</a>
												</div>
												<divclass="search-bar">
													<inputtype="text"placeholder="Search"></div>
												</div>
											{% endblock %}
											<div class="content-wrapper">
												<div class="content-section">
													{% block body %}
													<div class="content-section-title">nosservice
													</div>
													<body>
														<!-- Banner -->

														<!-- One -->
															<section id="one" class="wrapper style2"> <div class="inner">
																<div class="grid-style">

																	<div>
																		<div class="box">
																			<div class="image fit">
																				<img src="{{asset('images/pic02.jpg')}}" alt=" " width=" 600" height=" 300"></div>
																			<div class="content">
																				<header class="align-center">
																					<p>maecenas sapien feugiat ex purus</p>
																					<h2>INSTAGRAM</h2>
																				</header>
																				<p>
																					Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
																				<footer class="align-center">
																					<a href="#" class="button alt">go to the page</a>
																				</footer>
																			</div>
																		</div>
																	</div>

																	<div>
																		<div class="box">
																			<div class="image fit">
																				<img src="{{asset('images/pic03.jpg')}}" alt="" width="600" height="300"></div>
																			<div class="content">
																				<header class="align-center">
																					<p>mattis elementum sapien pretium tellus</p>
																					<h2>TWITTER</h2>
																				</header>
																				<p>
																					Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
																				<footer class="align-center">
																					<a href="#" class="button alt">go to the page</a>
																				</footer>
																			</div>
																		</div>
																	</div>
																	<div>
																		<div class="box">
																			<div class="image fit">
																				<img src="{{asset('images/pic03.jpg')}}" alt="" width="600" height="300"></div>
																			<div class="content">
																				<header class="align-center">
																					<p>mattis elementum sapien pretium tellus</p>
																					<h2>FACEBOOK</h2>
																				</header>
																				<p>
																					Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
																				<footer class="align-center">
																					<a href="#" class="button alt">go to the page</a>
																				</footer>
																			</div>
																		</div>
																	</div>
																	<div>
																		<div class="box">
																			<div class="image fit">
																				<img src="{{asset('images/pic03.jpg')}}" alt="" width="600" height="300"></div>
																			<div class="content">
																				<header class="align-center">
																					<p>mattis elementum sapien pretium tellus</p>
																					<h2>LINKED IN</h2>
																				</header>
																				<p>
																					Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
																				<footer class="align-center">
																					<a href="#" class="button alt">go to the page
																					</a>
																				</footer>
																			</div>
																		</div>
																	</div>

																</div>
															</div>
														</section><!-- Three --><!-- Footer --><footer id="footer">
															<div class="container">
																<ul class="icons">
																	<li>
																		<a href="#" class="icon fa-twitter">
																			<span class="label">Twitter</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="icon fa-facebook">
																			<span class="label">Facebook</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="icon fa-instagram">
																			<span class="label">Instagram</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="icon fa-envelope-o">
																			<span class="label">Email</span>
																		</a>
																	</li>
																</ul>
															</div>
														</footer>

														<!-- Scripts -->
														<script src="assets/js/jquery.min.js"></script>
														<script src="assets/js/jquery.scrollex.min.js"></script>
														<script src="assets/js/skel.min.js"></script>
														<script src="assets/js/util.js"></script>
														<script src="assets/js/main.js"></script>
													</body>
												</html>
											</body>
										</div>
									</div>
									<<<<<<<HEAD</html></html></div></html><divclass="overlay-app"></div></html></html></div><scriptsrc="{{asset('assets/js/base.js')}}"></script>>>{%endblock%}>{%blockjavascripts%}{%endblock%}>>>>origin/chadha
																																																																													=======<div class="overlay-app"></div>
								</html>
							</html>
						</div>
						<script>
							$(function () {
$(".menu-link").click(function () {
$(".menu-link").removeClass("is-active");
$(this).addClass("is-active");
});
});

$(function () {
$(".main-header-link").click(function () {
$(".main-header-link").removeClass("is-active");
$(this).addClass("is-active");
});
});

const dropdowns = document.querySelectorAll(".dropdown");
dropdowns.forEach((dropdown) => {
dropdown.addEventListener("click", (e) => {
e.stopPropagation();
dropdowns.forEach((c) => c.classList.remove("is-active"));
dropdown.classList.add("is-active");
});
});

$(".search-bar input").focus(function () {
$(".header").addClass("wide");
}).blur(function () {
$(".header").removeClass("wide");
});

$(document).click(function (e) {
var container = $(".status-button");
var dd = $(".dropdown");
if (! container.is(e.target) && container.has(e.target).length === 0) {
dd.removeClass("is-active");
}
});

$(function () {
$(".dropdown").on("click", function (e) {
$(".content-wrapper").addClass("overlay");
e.stopPropagation();
});
$(document).on("click", function (e) {
if ($(e.target).is(".dropdown") === false) {
$(".content-wrapper").removeClass("overlay");
}
});
});

$(function () {
$(".status-button:not(.open)").on("click", function (e) {
$(".overlay-app").addClass("is-active");
});
$(".pop-up .close").click(function () {
$(".overlay-app").removeClass("is-active");
});
});

$(".status-button:not(.open)").click(function () {
$(".pop-up").addClass("visible");
});

$(".pop-up .close").click(function () {
$(".pop-up").removeClass("visible");
});

const toggleButton = document.querySelector('.dark-light');

toggleButton.addEventListener('click', () => {
document.body.classList.toggle('light-mode');
});
<!-- script home admin -->
/*
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

var settings = {

banner: { // Indicators (= the clickable dots at the bottom).
indicators: true,

// Transition speed (in ms)
// For timing purposes only. It *must* match the transition speed of "#banner > article".
speed: 1500,

// Transition delay (in ms)
delay: 5000,

// Parallax intensity (between 0 and 1; higher = more intense, lower = less intense; 0 = off)
parallax: 0.25

}

};

(function ($) {

skel.breakpoints({
xlarge: '(max-width: 1680px)',
large: '(max-width: 1280px)',
medium: '(max-width: 980px)',
small: '(max-width: 736px)',
xsmall: '(max-width: 480px)'
});

/**
	 * Applies parallax scrolling to an element's background image.
	 * @return {jQuery} jQuery object.
	 */
$.fn._parallax = (skel.vars.browser == 'ie' || skel.vars.mobile) ? function () {
return $(this)
} : function (intensity) {

var $window = $(window),
$this = $(this);

if (this.length == 0 || intensity === 0) 
return $this;



if (this.length > 1) {

for (var i = 0; i < this.length; i++) 
$(this[i])._parallax(intensity);



return $this;

}

if (! intensity) 
intensity = 0.25;



$this.each(function () {

var $t = $(this),
on,
off;

on = function () {

$t.css('background-position', 'center 100%, center 100%, center 0px');

$window.on('scroll._parallax', function () {

var pos = parseInt($window.scrollTop()) - parseInt($t.position().top);

$t.css('background-position', 'center ' + (
pos * (-1 * intensity)
) + 'px');

});

};

off = function () {

$t.css('background-position', '');

$window.off('scroll._parallax');

};

skel.on('change', function () {

if (skel.breakpoint('medium').active) 
(off)();
 else 
(on)();



});

});

$window.off('load._parallax resize._parallax').on('load._parallax resize._parallax', function () {
$window.trigger('scroll');
});

return $(this);

};

/**
	 * Custom banner slider for Slate.
	 * @return {jQuery} jQuery object.
	 */
$.fn._slider = function (options) {

var $window = $(window),
$this = $(this);

if (this.length == 0) 
return $this;



if (this.length > 1) {

for (var i = 0; i < this.length; i++) 
$(this[i])._slider(options);



return $this;

}

// Vars.
var current = 0,
pos = 0,
lastPos = 0,
slides = [],
indicators = [],
$indicators,
$slides = $this.children('article'),
intervalId,
isLocked = false,
i = 0;

// Turn off indicators if we only have one slide.
if ($slides.length == 1) 
options.indicators = false;



// Functions.
$this._switchTo = function (x, stop) {

if (isLocked || pos == x) 
return;



isLocked = true;

if (stop) 
window.clearInterval(intervalId);



// Update positions.
lastPos = pos;
pos = x;

// Hide last slide.
slides[lastPos].removeClass('top');

if (options.indicators) 
indicators[lastPos].removeClass('visible');



// Show new slide.
slides[pos].addClass('visible').addClass('top');

if (options.indicators) 
indicators[pos].addClass('visible');



// Finish hiding last slide after a short delay.
window.setTimeout(function () {

slides[lastPos].addClass('instant').removeClass('visible');

window.setTimeout(function () {

slides[lastPos].removeClass('instant');
isLocked = false;

}, 100);

}, options.speed);

};

// Indicators.
if (options.indicators) 
$indicators = $('<ul class="indicators"></ul>').appendTo($this);



// Slides.
$slides.each(function () {

var $slide = $(this),
$img = $slide.find('img');

// Slide.
$slide.css('background-image', 'url("' + $img.attr('src') + '")').css('background-position', ($slide.data('position') ? $slide.data('position') : 'center'));

// Add to slides.
slides.push($slide);

// Indicators.
if (options.indicators) {

var $indicator_li = $('<li>' + i + '</li>').appendTo($indicators);

// Indicator.
$indicator_li.data('index', i).on('click', function () {
$this._switchTo($(this).data('index'), true);
});

// Add to indicators.
indicators.push($indicator_li);

}

i++;

})._parallax(options.parallax);

// Initial slide.
slides[pos].addClass('visible').addClass('top');

if (options.indicators) 
indicators[pos].addClass('visible');



// Bail if we only have a single slide.
if (slides.length == 1) 
return;



// Main loop.
intervalId = window.setInterval(function () {

current++;

if (current >= slides.length) 
current = 0;



$this._switchTo(current);

}, options.delay);

};

$(function () {

var $window = $(window),
$body = $('body'),
$header = $('#header'),
$banner = $('.banner');

// Disable animations/transitions until the page has loaded.
$body.addClass('is-loading');

$window.on('load', function () {
window.setTimeout(function () {
$body.removeClass('is-loading');
}, 100);
});

// Prioritize "important" elements on medium.
skel.on('+medium -medium', function () {
$.prioritize('.important\\28 medium\\29', skel.breakpoint('medium').active);
});

// Banner.
$banner._slider(settings.banner);

// Menu.
$('#menu').append('<a href="#menu" class="close"></a>').appendTo($body).panel({
delay: 500,
hideOnClick: true,
hideOnSwipe: true,
resetScroll: true,
resetForms: true,
side: 'right'
});

// Header.
if (skel.vars.IEVersion < 9) 
$header.removeClass('alt');



if ($banner.length > 0 && $header.hasClass('alt')) {

$window.on('resize', function () {
$window.trigger('scroll');
});

$banner.scrollex({
bottom: $header.outerHeight(),
terminate: function () {
$header.removeClass('alt');
},
enter: function () {
$header.addClass('alt');
},
leave: function () {
$header.removeClass('alt');
$header.addClass('reveal');
}
});

}

});

})(jQuery);


/*
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

var settings = {

banner: { // Indicators (= the clickable dots at the bottom).
indicators: true,

// Transition speed (in ms)
// For timing purposes only. It *must* match the transition speed of "#banner > article".
speed: 1500,

// Transition delay (in ms)
delay: 5000,

// Parallax intensity (between 0 and 1; higher = more intense, lower = less intense; 0 = off)
parallax: 0.25

}

};

(function ($) {

skel.breakpoints({
xlarge: '(max-width: 1680px)',
large: '(max-width: 1280px)',
medium: '(max-width: 980px)',
small: '(max-width: 736px)',
xsmall: '(max-width: 480px)'
});

/**
	 * Applies parallax scrolling to an element's background image.
	 * @return {jQuery} jQuery object.
	 */
$.fn._parallax = (skel.vars.browser == 'ie' || skel.vars.mobile) ? function () {
return $(this)
} : function (intensity) {

var $window = $(window),
$this = $(this);

if (this.length == 0 || intensity === 0) 
return $this;



if (this.length > 1) {

for (var i = 0; i < this.length; i++) 
$(this[i])._parallax(intensity);



return $this;

}

if (! intensity) 
intensity = 0.25;



$this.each(function () {

var $t = $(this),
on,
off;

on = function () {

$t.css('background-position', 'center 100%, center 100%, center 0px');

$window.on('scroll._parallax', function () {

var pos = parseInt($window.scrollTop()) - parseInt($t.position().top);

$t.css('background-position', 'center ' + (
pos * (-1 * intensity)
) + 'px');

});

};

off = function () {

$t.css('background-position', '');

$window.off('scroll._parallax');

};

skel.on('change', function () {

if (skel.breakpoint('medium').active) 
(off)();
 else 
(on)();



});

});

$window.off('load._parallax resize._parallax').on('load._parallax resize._parallax', function () {
$window.trigger('scroll');
});

return $(this);

};

/**
	 * Custom banner slider for Slate.
	 * @return {jQuery} jQuery object.
	 */
$.fn._slider = function (options) {

var $window = $(window),
$this = $(this);

if (this.length == 0) 
return $this;



if (this.length > 1) {

for (var i = 0; i < this.length; i++) 
$(this[i])._slider(options);



return $this;

}

// Vars.
var current = 0,
pos = 0,
lastPos = 0,
slides = [],
indicators = [],
$indicators,
$slides = $this.children('article'),
intervalId,
isLocked = false,
i = 0;

// Turn off indicators if we only have one slide.
if ($slides.length == 1) 
options.indicators = false;



// Functions.
$this._switchTo = function (x, stop) {

if (isLocked || pos == x) 
return;



isLocked = true;

if (stop) 
window.clearInterval(intervalId);



// Update positions.
lastPos = pos;
pos = x;

// Hide last slide.
slides[lastPos].removeClass('top');

if (options.indicators) 
indicators[lastPos].removeClass('visible');



// Show new slide.
slides[pos].addClass('visible').addClass('top');

if (options.indicators) 
indicators[pos].addClass('visible');



// Finish hiding last slide after a short delay.
window.setTimeout(function () {

slides[lastPos].addClass('instant').removeClass('visible');

window.setTimeout(function () {

slides[lastPos].removeClass('instant');
isLocked = false;

}, 100);

}, options.speed);

};

// Indicators.
if (options.indicators) 
$indicators = $('<ul class="indicators"></ul>').appendTo($this);



// Slides.
$slides.each(function () {

var $slide = $(this),
$img = $slide.find('img');

// Slide.
$slide.css('background-image', 'url("' + $img.attr('src') + '")').css('background-position', ($slide.data('position') ? $slide.data('position') : 'center'));

// Add to slides.
slides.push($slide);

// Indicators.
if (options.indicators) {

var $indicator_li = $('<li>' + i + '</li>').appendTo($indicators);

// Indicator.
$indicator_li.data('index', i).on('click', function () {
$this._switchTo($(this).data('index'), true);
});

// Add to indicators.
indicators.push($indicator_li);

}

i++;

})._parallax(options.parallax);

// Initial slide.
slides[pos].addClass('visible').addClass('top');

if (options.indicators) 
indicators[pos].addClass('visible');



// Bail if we only have a single slide.
if (slides.length == 1) 
return;



// Main loop.
intervalId = window.setInterval(function () {

current++;

if (current >= slides.length) 
current = 0;



$this._switchTo(current);

}, options.delay);

};

$(function () {

var $window = $(window),
$body = $('body'),
$header = $('#header'),
$banner = $('.banner');

// Disable animations/transitions until the page has loaded.
$body.addClass('is-loading');

$window.on('load', function () {
window.setTimeout(function () {
$body.removeClass('is-loading');
}, 100);
});

// Prioritize "important" elements on medium.
skel.on('+medium -medium', function () {
$.prioritize('.important\\28 medium\\29', skel.breakpoint('medium').active);
});

// Banner.
$banner._slider(settings.banner);

// Menu.
$('#menu').append('<a href="#menu" class="close"></a>').appendTo($body).panel({
delay: 500,
hideOnClick: true,
hideOnSwipe: true,
resetScroll: true,
resetForms: true,
side: 'right'
});

// Header.
if (skel.vars.IEVersion < 9) 
$header.removeClass('alt');



if ($banner.length > 0 && $header.hasClass('alt')) {

$window.on('resize', function () {
$window.trigger('scroll');
});

$banner.scrollex({
bottom: $header.outerHeight(),
terminate: function () {
$header.removeClass('alt');
},
enter: function () {
$header.addClass('alt');
},
leave: function () {
$header.removeClass('alt');
$header.addClass('reveal');
}
});

}

});

})(jQuery);
						</script>
