{% extends 'base.html.twig' %}

{% block title %}Send Email{% endblock %}

{% block body %}
    <h1>Send Email</h1>
    
    {{ form_start(form) }}
    {{ form_row(form.senderEmail) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.content) }}
    <button type="submit">Send Email</button>
    {{ form_end(form) }}
{% endblock %}